.navigation {
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 0px;
  height: 100px;
  max-height: 100px;
  font-size: 1em;
  background-color: #00414B;
  color: #fff;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0px 40px 0px 0px;
}

.navigationItem a {
  color: currentColor;
}
