@font-face {
  font-family: "Lota Grotesque";
  font-weight: 400;
  font-style: normal;
  src: url("/lota-400.otf") format("otf");
  font-display: swap;
}

body {
  font-family: "Lota Grotesque", "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: #fff;
  margin: 0 auto;
}

p {
  font-family: "Georgia", "Circular Std", Helvetica;
  font-size: 21px;
}

img {
  display: block;
  width: 100%;
}

.previewImagen {
  transition: all .2s ease-in-out;
}

.previewImagen:hover {
  box-shadow: 0 8px 18px 0 rgba(0,0,0,0.24);
  transform: scale(1.05);
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 48px;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 44px;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

@media(min-width: 1000px) {
.wrapper-blog-post {
  width: 700px;
  margin: 0 auto;
  padding: 5vmin 0;
}
}

@media(min-width: 300px) {
.wrapper-blog-post {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
}


/**
 * article grid
 */
.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 5vmin;
}


@media(min-width: 300px) {
.uppe {
  background-color: #00414B;
  padding: 0px 0px 50px 0px;
  width: 100%;
  height: 480px;
  margin: 0px 0px 40px 0px;
}
}

@media(min-width: 640px) {
.uppe {
  background-color: #00414B;
  padding: 0px 0px 50px 0px;
  width: 100%;
  height: 340px;
}
}

.uppe-blog {
  background-color: #00414B;
  padding: 0px 0px 50px 0px;
  width: 100%;
  height: 340px;
}

.uppeDetailsBlog {
  padding: 0px 0px 100px 0px;
  width: calc(100% - 10vmin);
  margin: 0 auto;
  max-width: 1180px;
}

.uppeDetails {
  padding: 0px 0px 100px 0px;
  width: calc(100% - 10vmin);
  margin: 0 auto;
  max-width: 1180px;
}

.section-heroline {
  font-size: 80px;
  margin: 0;
  padding: 68px 0px 0px 0px;
  background-color: #00414B;
  color: #fff;
  line-height: 92px;
}
.section-herosubline {
  font-size: 20px;
  margin: 24px 0px 24px 0px;
  color: #fff;
  max-width: 800px;
  font-weight: normal;
  line-height: 32px;
  padding: 0px 0px 40px 0px;
}

@media(min-width: 640px) {
.content {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
  max-width: 1180px;
}
}



@media(min-width: 300px) {
.content {
  margin: 0 auto;
  padding: 0px 20px 40px 20px;
}
}


/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }


label {
  font-family: "Circular Std", Helvetica;
  font-size: 14px;
  color: #2b2b2b;
  letter-spacing: 1px;
}

input {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #F4F4F6;
  border: none;
  font-size: 20px;
  
  border: 3px solid #f4f4f6;
}

input:focus {
  background-color: #fff;
  outline: none;
  border: 3px solid #dfdfdf;
}

button {
  background-color: #000;
  border: none;
  color: white;
  padding: 20px 32px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #2b2b2b;
  outline: none;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #616161;
  outline: none;
}


